<div class="container">
    <div id="content">
      <div class="our-history">
        <h2 class="text-center wow fadeInDown"><%= t "static_pages.about.title" %></h2>
        <div class="space35">&nbsp;</div>

        <div class="history-slider">
          <div class="history-navigation">
            <a data-slide-index="0" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_01" %></span></a>
            <a data-slide-index="1" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_02" %></span></a>
            <a data-slide-index="2" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_03" %></span></a>
            <a data-slide-index="3" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_04" %></span></a>
            <a data-slide-index="4" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_05" %></span></a>
            <a data-slide-index="5" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_06" %></span></a>
            <a data-slide-index="6" href="blog_with_2sidebars_type_e.html" class="circle"><span class="auto-center"><%= t "static_pages.about.year_07" %></span></a>
          </div>

          <div class="history-slides">
            <div>
              <div class="row">
              <div class="col-sm-5">
                <%= image_tag "coffee_house.jpg", alt: "coffee_house.jpg", class: "image_in_about" %>
              </div>
              <div class="col-sm-7">
                <h5 class="other-title"><%= t "static_pages.about.event_01" %></h5>
                <p>
                  <%= t "static_pages.about.address_event_01" %><br />
                  <%= t "static_pages.about.address_event_02" %><br />
                  <%= t "static_pages.about.address_event_03" %>
                </p>
                <div class="space20">&nbsp;</div>
                <p><%= t "static_pages.about.content_event" %></p>
              </div>
              </div>
            </div>
            <div class="space20">&nbsp;</div>
            <div>
              <div class="row">
              <div class="col-sm-5">
                <%= image_tag "coffee_house.jpg", alt: "coffee_house.jpg", class: "image_in_about" %>
              </div>
              <div class="col-sm-7">
                <h5 class="other-title"><%= t "static_pages.about.event_02" %></h5>
                <p>
                  <%= t "static_pages.about.address_event_01" %><br />
                  <%= t "static_pages.about.address_event_02" %><br />
                  <%= t "static_pages.about.address_event_03" %>
                </p>
                <div class="space20">&nbsp;</div>
                <p><%= t "static_pages.about.content_event" %></p>
              </div>
              </div>
            </div>
            <div class="space20">&nbsp;</div>
            <div>
              <div class="row">
              <div class="col-sm-5">
                <%= image_tag "coffee_house.jpg", alt: "coffee_house.jpg", class: "image_in_about" %>
              </div>
              <div class="col-sm-7">
                <h5 class="other-title"><%= t "static_pages.about.even_03" %></h5>
                <p>
                  <%= t "static_pages.about.address_event_01" %><br />
                  <%= t "static_pages.about.address_event_02" %><br />
                  <%= t "static_pages.about.address_event_03" %>
                </p>
                <div class="space20">&nbsp;</div>
                <p><%= t "static_pages.about.content_event" %></p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="space50">&nbsp;</div>
      <hr />
      <div class="space50">&nbsp;</div>
      <h2 class="text-center wow fadeInDown"><%= t "static_pages.about.footer_title" %></h2>
      <div class="space20">&nbsp;</div>
      <p class="text-center wow fadeInLeft"><%= t "static_pages.about.footer_content" %></p>
      <div class="space35">&nbsp;</div>

      <div class="row">
        <div class="col-sm-2 col-sm-push-2">
          <div class="beta-counter">
            <p class="beta-counter-icon"><i class="fa fa-user"></i></p>
            <p class="beta-counter-value timer numbers" data-to="19855" data-speed="2000"><%= t "static_pages.about.number_person" %></p>
            <p class="beta-counter-title"><%= t "static_pages.about.person" %></p>
          </div>
        </div>

        <div class="col-sm-2 col-sm-push-2">
          <div class="beta-counter">
            <p class="beta-counter-icon"><i class="fa fa-picture-o"></i></p>
            <p class="beta-counter-value timer numbers" data-to="3568" data-speed="2000"><%= t "static_pages.about.number_images" %></p>
            <p class="beta-counter-title"><%= t "static_pages.about.images" %></p>
          </div>
        </div>

        <div class="col-sm-2 col-sm-push-2">
          <div class="beta-counter">
            <p class="beta-counter-icon"><i class="fa fa-clock-o"></i></p>
            <p class="beta-counter-value timer numbers" data-to="258934" data-speed="2000"><%= t "static_pages.about.number_hours" %></p>
            <p class="beta-counter-title"><%= t "static_pages.about.hours" %></p>
          </div>
        </div>

        <div class="col-sm-2 col-sm-push-2">
          <div class="beta-counter">
            <p class="beta-counter-icon"><i class="fa fa-pencil"></i></p>
            <p class="beta-counter-value timer numbers" data-to="150" data-speed="2000"><%= t "static_pages.about.number_projects" %></p>
            <p class="beta-counter-title"><%= t "static_pages.about.projects" %></p>
          </div>
        </div>
      </div> <!-- .beta-counter block end -->

      <div class="space50">&nbsp;</div>
      <hr />

    </div> <!-- #content -->
  </div> <!-- .container -->
