<div class="row">
  <div class="col-md-10">
    <div class="history_wrapper">
      <div class="history_header">
        <div class="history_header_stt">
          <%= t "suggests.show.stt" %>
        </div>
        <div class="history_header_content">
          <%= t "suggests.show.content" %>
        </div>
        <div class="history_header_action">
          <%= t "suggests.show.action" %>
        </div>
      </div>
      <div class="history_body">
        <div class="history_list">
          <div class="history_item_stt">
            <span class="item_name"> <%= suggest.id%> </span>
          </div>
        <div class="history_item_content">
          <span class="item_quantity">
            <%= suggest.content %>
          </span>
        </div>
        <div class="history_item_action">
          <span class="item_quantity">
            <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, suggest_path(id: suggest.id), method: :DELETE, data: {confirm: t("suggests.show.confirm") }%>
          </span>
        </div>
      </div>
      <div class="history_list_footer">
        <%if suggest.incoming? %>
          <span class="label label-info"><%= t "suggests.show.status" %> <%= suggest.status %></span>
        <%else%>
          <span class="label label-success"><%= t "suggests.show.status" %> <%= suggest.status %></span>
        <%end%>
     </div>
   </div>
 </div>
</div>
</div>
<div class="space20">&nbsp;</div>
