<tr>
    <td>
      <div class="row">
        <div class="col-sm-2 hidden-xs"><%= image_tag cart_product.images[0].picture, alt: cart_product.name, class: "img-responsive" %>
        </div>
        <div class="col-sm-10">
          <h4 class="nomargin"><%= cart_product.name %></h4>
          <p><%= cart_product.description %></p>
        </div>
      </div>
    </td>
    <td><%= cart_product.price %></td>
    <td>
      <%= form_tag carts_update_path(product_id: cart_product.id), class: "update_cart_form", remote: true, method: :PUT do %>
        <%= number_field_tag :quantity, session[:cart][cart_product.id.to_s] %></%>
    <td>
      <button type="submit" class="btnCartProduct btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
    </td>
      <% end %>
    </td>
    <td class="text-center"><%= cart_product.price * session[:cart][cart_product.id.to_s]%></td>
    <td class="actions" data-th="">
      <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, cart_delete_item_path(product_id: cart_product.id), remote: true, method: :DELETE%>
    </td>
</tr>
