<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "common/admin/header_admin" %>
    <%= render "common/admin/body_admin" %>
  </body>
</html>
